-- =====================================================
-- 15_UPDATE_TRIGGER.sql
-- Trigger per aggiornare automaticamente updated_at
-- =====================================================

-- 1. Create the generic function
CREATE OR REPLACE FUNCTION update_modified_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$ language 'plpgsql';

-- 2. Apply to quiz_config
DROP TRIGGER IF EXISTS update_quiz_config_modtime ON quiz_config;
CREATE TRIGGER update_quiz_config_modtime
BEFORE UPDATE ON quiz_config
FOR EACH ROW EXECUTE PROCEDURE update_modified_column();

-- Note: services table does not have an updated_at column in 01_CORE_SCHEMA.sql.
-- If we want it, we can add it here.
ALTER TABLE public.services ADD COLUMN IF NOT EXISTS updated_at timestamp with time zone default timezone('utc'::text, now());

DROP TRIGGER IF EXISTS update_services_modtime ON services;
CREATE TRIGGER update_services_modtime
BEFORE UPDATE ON services
FOR EACH ROW EXECUTE PROCEDURE update_modified_column();

